body{
    font-family: adiHaus,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    line-height:1;
    width:100%;
}
a{
    text-decoration:none;
}
h1,h2{
    font-weight:bold;
}
h2{
    padding:80px 0 20px;
    font-size:46px;
    text-align:center;
}
.btn_wrap{
    width: 260px;
    height:48px;
    background-color: #000;
    text-align:center;
    display:inline-block;
    position: relative;
    &:hover a{
        opacity:0.8;
    }
    a{
        line-height:48px;
        display:inline-block;
        color:#fff;
        font-weight:bold;
        
    }
    
    a:after{
        content:'\02192';
        font-size:25px;
        position:absolute;
        right:22px;
    }
}

.text-container{
    position:absolute;
    bottom:20%;
    left:8%;
}
// lp-hero
.lp_hero_top{
    position:relative;
    img{
        vertical-align: bottom;
    }
    .btn_wrap{
        position:absolute;
        bottom:30%;
        left:8%;
    }
}
// lpc-single-card
.lpc-single-card{
    position:relative;
    img{
        vertical-align:top;
    }
    .text-container{
        color:#fff;
        h1{
            font-size:30px;
            letter-spacing:1.6;
            margin-bottom:20px;
        }
        p{
            margin-bottom:20px;
        }
        .btn_wrap{
            background-color: #fff;
        }
        a{
            color:#000;
        }
    }
}
// lp-featureCarousel
.lp-featureCarousel{
    .item{
        position:relative;
        .text-Containter{
            h2{
                font-size: 36px;
                color:#000;
            }
            p{
                margin-bottom: 20px;
            }
        }
        .marquee{
            h2,p{
                color:#fff;
                text-align: left;
            }
            .btn_wrap{
                background-color: #fff;
            }
            a{
                color:#000;
            }
        }
    }
}
// lp-featureBottom
.lp-featureBottom{
    position:relative;
    .text-container{
        h2{
            font-size:36px;
            color:#fff;
            text-align:left;
            line-height:1.2;
        }
    }
}
// list-card
.list-card{
    .lp-cateCardList{
        display:flex;
        padding:30px 0;
        justify-content:space-around;
        .cateCard{
            width: calc(100% / 3 - 30px);
            text-align:center;
            // position:relative;
            li{
                width:100%;
                list-style-type:none;
                background-color:#000;
                overflow: hidden;
                img{
                    vertical-align:bottom;
                    overflow: hidden;
                    transition:all 5s ease-in-out;
                    width:100%;
                    opacity:1;
                    &:hover{
                        transform:scale(1.5);
                        opacity:0.6;
                    }
                }
            }
            .btn_wrap{
                width:250px;
                background-color:#fff;
                text-align: center;
                position:relative;
                bottom:80px;
            }
            a{
                color:#000;
            }
        }

        }
    }
    // lp-local-FooterLink
.lp-local-FooterLink{
    // padding:80px 7px 0 7px;
    text-align:center;
    padding:0 7.5px 0; 
    h3{
        font-size:28px;
        margin-top:32px;
        font-weight:bold;
    } 
    ul{
        display:flex;
        width:70%;
        margin:0 auto;
        list-style-type:none;
        justify-content: space-around;
    }
    li{
        width:33.33%;
        text-align:center;
        margin:80px auto 0;
        padding:8px 0;
        margin-bottom:45px;
        &:not(:last-child){
        border-right:1px solid #ebebeb;
        }
    }
    a{
        color:#000;  
    }
}
// .lpc-snsList
.lpc-snsList{
    width:100%;
    padding-top:50px;
    border-top:1px #ebebeb  solid;
    ul{
        display:flex;
        width:70%;
        margin:0 auto;
        justify-content:space-around;
    }
    li{
        list-style-type:none;
    }
    a{
        font-size:20px;
        color:#000;
        display:inline-block;
    }
    .fab{
        color:#fff;
        z-index: 10;
        margin-right:20px;
    }
    .icon-inner{
        width:42px;
        height:42px;
        border-radius:50%;
        background-color:#000;
        z-index: -10;
    }
    .facebook-link,.twitter-link,.instagram-link{
        position: relative;
    }
    .inner_fa{
        position:absolute;
        bottom:-50%;
        left:-10%;
    }
    .inner_twi{
        position:absolute;
        bottom:-50%;
        left:-13%;
    }
    .inner_ins{
        position:absolute;
        bottom:-50%;
        left:-10%;
    }
}
// lpc-hushTag
.lpc-hushTag{
    padding:90px 0 80px;
    p{
        font-size:20px;
        text-align:center;
        font-weight:bold;
    }
}
// pcの画像スタイル
.pc{
    display:block !important;
}
.mobile,.mb_link,.sns_link{
    display:none !important;
}

@media screen and (max-width:960px){
    .pc,.pc_link{
        display:none !important;
    }
    .mobile{
        display:block !important;
    }
    .mb_link,.sns_link{
        display:flex !important;
    }
    .text-container{
        position:absolute;
        bottom:0%;
        left:0%;
        padding:15px;
    }
    // lp_hero_top
    .lp_hero_top .btn_wrap{
            position:absolute;
            bottom:7%;
            left:8%;
    }
    // .list-card
    // 画像を建て並べに
    .list-card{
        .lp-cateCardList{
            flex-direction: column;
            .cateCard{
                width:100%;
        }
    }
    img{
        overflow: hidden;
        transition:none;
        width:100%;
        opacity:1;
        &:hover{
            transform:none;
        }
    }
}
// .lp-local-FooterLink
.lp-local-FooterLink{
    h3{
        font-size:22px;
    } 
    ul{
        width: 100%;
    }
    a{
        color:#000;  
        font-size: 12px;
    }
}
// lpc-snsList
.lpc-snsList{
    .fab{
        color:#fff;
        z-index: 10;
        margin-right:20px;
    }
    .icon-inner{
        width:30px;
        height:30px;
        position: relative;
    }
    .facebook{
        position: absolute;
        bottom:25%;
        right:-30%;
    }
    .twitter{
        position: absolute;
        bottom:25%;
        right:-40%;
    }
    .instagram{
        position: absolute;
        bottom:25%;
        right:-40%;
    }
    .sns_link a{
        font-size:12px;
        display: inline-block;
        margin-top: 10px;
    }
}
// .lpc-hushTag
.lpc-hushTag{
    p{
        font-size:14px;
        text-align:center;
    }
}

}
